<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    mode="side"
    [(opened)]="opened"
    class="sidenav"
    [class.mat-drawer-closed]="!opened"
  >
    <div class="sidebar-header">
      <div class="sidebar-title">Menu</div>
    </div>
    <mat-nav-list>
      <a
        mat-list-item
        routerLink="/dashboard"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
        (click)="handleNavItemClicked()"
      >
        <mat-icon>dashboard</mat-icon>
        <span *ngIf="opened"> Dashboard</span>
      </a>

      <a
        mat-list-item
        routerLink="/books"
        *ngIf="roleService.hasAccessToBooks()"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: false }"
        (click)="handleNavItemClicked()"
      >
        <mat-icon>menu_book</mat-icon>
        <span *ngIf="opened"> Books</span>
      </a>

      <a
        mat-list-item
        routerLink="/authors"
        *ngIf="roleService.hasAccessToAuthors()"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: false }"
        (click)="handleNavItemClicked()"
      >
        <mat-icon>person</mat-icon>
        <span *ngIf="opened"> Authors</span>
      </a>

      <a
        mat-list-item
        routerLink="/users"
        *ngIf="roleService.hasAccessToUsers()"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: false }"
        (click)="handleNavItemClicked()"
      >
        <mat-icon>group</mat-icon>
        <span *ngIf="opened"> Users</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
