<h2 mat-dialog-title>{{ isEditMode ? "Edit Author" : "Add Author" }}</h2>

<form [formGroup]="authorForm" (ngSubmit)="onSubmit()" mat-dialog-content>
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Author Name</mat-label>
    <input matInput formControlName="name" />
    <mat-error *ngIf="authorForm.get('name')?.hasError('required')"
      >Name is required</mat-error
    >
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Bio</mat-label>
    <textarea matInput rows="4" formControlName="bio"></textarea>
    <mat-error *ngIf="authorForm.get('bio')?.hasError('required')"
      >Bio is required</mat-error
    >
    <mat-error *ngIf="authorForm.get('bio')?.hasError('minlength')"
      >Bio should be at least 10 characters</mat-error
    >
  </mat-form-field>

  <div mat-dialog-actions align="end">
    <button mat-button (click)="cancel()">Cancel</button>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="authorForm.invalid"
    >
      {{ isEditMode ? "Update" : "Add" }}
    </button>
  </div>
</form>
